/bin
/libs/lwjgl-2.9.2/javadoc
.gradle
/build
/buildSrc/build
/subprojects/*/build
*/docs/*.html

*.hptexture
*.hpcubemap
*.hpmaterial
*.hpentity
*.hpscene
*/target/*
*/build*
target/
/hp/java

/.idea
*.iml
nbactions-debug.xml
nbactions.xml

.classpath
.project
.settings/*
*.orig